/*-----Mobile views (first)-----*/
#contact_wrapper {
    width: 80%;
    padding: 0 10%;
    height: auto;
    text-align: center;
    color: gray;
}


/*-----------------PC views----------------------*/
@media screen and (min-width: 768px) {



}