#service_list {
    background-color: antiquewhite;
    padding: 0 2em;
}

#services {
    text-align: center;
}

.service {
    display: inline-block;
    text-align: center;
    background-color: white;
    margin: 1% 1%;
    height: 15%;
    width: 15%;
    border: greenyellow 3px dotted;
    padding-top: 2%;
}

.service img {
    height: 20px;
}




