html{
    font-size: 16px;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
}

header, footer nav {
    border-bottom: gray 1px dotted;
    height: 5%;
    width: 100%;
    font-size: 18px;
}

header  {
    text-align: center;
}

#logo_mobile {
    height: 25%;
    width: 25%;
}

#logo_pc, #pc_nav {
    display: none;
}

#nav_leader {
    width: 10%;
    position: absolute;
    top: 8px;
    right: 8px;
}


nav a:link { color: purple; }

nav a:visited { color: purple; }

nav a:hover {
    color: greenyellow;
}

#mobile_nav {
    background-color: aqua;
    font-size: 10px;
}

#copyright {
    font-size: 10px;
    text-align: center;
}

@media screen and (min-width: 768px) {

    #logo_mobile, #nav_leader {
        display: none;
    }

    #logo_pc {
        display: block;
        height: 30%;
        width: 30%;
    }

    header nav {
        display: block;
    }

    #pc_nav ul li {
        display: inline;
        font-size: 25px;
        font-family: "Lucida Handwriting", Papyrus, serif;
    }

    .clear {
        clear:both;
    }

    #logo_pc {
        float: left;
    }

    #pc_nav {
        padding-top: 1em;
        display: block;
    }

    #pc_nav li {
        display: inline;
        padding-right: 3px;
    }

    #mobile_nav {
        display: none;
    }
}