/*-----Mobile views (first)-----*/
html{
    font-size: 16px;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
}

header, footer nav {
    height: 5%;
    width: 100%;
    font-size: 18px;
}

header  {
    text-align: center;
}

#logo_mobile {
    height: 25%;
    width: 25%;
}

#logo_pc, #pc_nav {
    display: none;
}

#nav_leader {
    width: 10%;
    position: absolute;
    top: 8px;
    right: 8px;
}

/*-- Template for content title in mobile views --*/
.content_header {
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 3px 3px 3px #4ed021;
    text-transform: uppercase;
}

/*-- Navigation style --*/
nav a:link { color: purple; }

nav a:visited { color: purple; }

nav a:hover { color: greenyellow;}

/*-- mobile nav shows at the bottom of the page --*/
#mobile_nav {
    background-color: rgba(190, 176, 176, 0.5);
    font-size: 12px;
    text-align: center;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-decoration: none;
}

#mobile_nav li {
    display: inline;
    text-align: center;
}

.declaration {
    text-align: center;
    font-size: 12px;
    color: #989494;
}

#copyright {
    font-size: 10px;
    text-align: center;
}

.clear {
    clear:both;
}


/*-----PC views-----*/
@media screen and (min-width: 768px) {
    /*--The style will change at width of 500px and above--*/
    /*-- Hide mobile views factor --*/
    #logo_mobile, #nav_leader {
        display: none;
    }

    #logo_pc {
        display: block;
        height: 30%;
        width: 30%;
    }

    /*-- mobile nav shows at the top right of the page --*/
    header nav {
        display: block;
    }

    #pc_nav ul li {
        display: inline;
        font-size: 25px;
        font-family: "Lucida Handwriting", Papyrus, serif;
    }

    .content_header {
        font-size: 36px;
        text-shadow: 6px 6px 6px #4ed021;
    }

    #logo_pc {
        float: left;
    }

    #pc_nav {
        padding-top: 1em;
        display: block;
    }

    #pc_nav li {
        display: inline;
        padding-right: 3px;
    }

    #mobile_nav {
        display: none;
    }
}