
.link_style {
    text-decoration:none;
}

.news_wrapper {
    width: 80%;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 10%;
    border: #65e8af 2px dashed;
    border-radius: 20px;
}

.news_pic {
    height: 60%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: #65e8af 2px dashed;
}

.news_wrapper h2 {
    font-size: 15px;
    color: #18a8d0;
    text-align: center;
    font-family: "cursive",fantasy;
    text-shadow: rgba(3, 63, 63, 0.32) 3px 3px 3px;
}

.news_brief {
    color: gray;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 0 5px;
}

.suspension_points {
    text-align: center;
    color: gray;
    margin-top: -10px;
}