/*-----Mobile views (first)-----*/
.link_style {
    text-decoration:none;
}

.news_wrapper {
    width: 80%;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 10%;
    border: #65e8af 2px dashed;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: cornflowerblue 15px 15px 15px;
}

.news_pic {
    height: 60%;
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom: #65e8af 2px dashed;
}

.news_wrapper h2 {
    font-size: 15px;
    color: #18a8d0;
    text-align: center;
    font-family: "cursive",fantasy;
    text-shadow: rgba(3, 63, 63, 0.32) 3px 3px 3px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.news_brief {
    color: gray;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 0 5px;
}

.suspension_points {
    text-align: center;
    color: gray;
    margin-top: -10px;
}

.news_wrapper h2:link { color: purple; }

.news_wrapper h2:visited { color: purple; }

.news_wrapper h2:hover { color: #092170;}

/*-----------------PC views----------------------*/
@media screen and (min-width: 768px) {

    .news_wrapper {
        width: 50%;
        margin: 20px 25%;
        padding: 0 0;
    }

    .news_wrapper h2 {
        font-size: 32px;

    }

    .news_brief {
        height: 45px;
    }
}