/*-----Mobile views (first)-----*/
.team_content {
    width: 80%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10%;
    border-radius: 10px;
    border: #65e8af 2px dashed;
}

#team_wrapper hr {
    width: 60%;
}

.founder_head {
    text-align: center;

}

.founder_head h1 {
    text-shadow: #e79d2e 3px 3px 3px;
    color: chocolate;
    font-size: 20px;
}

.founder_head img {
    width: 30%;
    float: left;
    border-radius: 100%;
    border: cornflowerblue 2px solid;
}

.founder_head p {
    color: gray;
    text-align: center;
}

/*-----PC views-----*/
@media screen and (min-width: 768px) {
    .team_content {
        width: 80%;
        height: 300px;
    }
    .founder_head h1 {
        font-size: 32px;
    }

    .founder_head img {
        width: 20%;
        height: auto;
        margin: 0 20px;
    }

    .founder_head p {
        padding: 40px;
        font-size: 26px;
    }

    /*---Reverse the position of the photo and text for founder2--*/
    #team_content_flex_reverse {
        float: right;
    }
}