.team_content {
    width: 80%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10%;
    border-radius: 10px;
    border: #65e8af 2px dashed;
}

#team_wrapper hr {
    width: 60%;
}

.founder_head {
    text-align: center;

}

.founder_head h5 {
    text-shadow: #e79d2e 3px 3px 3px;
    color: chocolate;
}

.founder_head img {
    width: 30%;
    float: left;
    border-radius: 100%;
    border: cornflowerblue 2px solid;
}

.founder_head p {
    color: gray;
    text-align: center;
}

